In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import utils

In [2]:
train = pd.read_csv(f'./../../Dataset/food_train.tsv', index_col='Index', encoding='utf-8', sep='\t')
X_train = train.drop(columns = 'target')
y_train = train.target
del train
X_test = pd.read_csv(f'./../../Dataset/food_X_test.tsv', index_col='Index', encoding='latin', sep='\t')
y_test_submission_example = pd.read_csv(f'./../../Dataset/y_test_submission_example.tsv', index_col='Index', encoding='utf-8', sep='\t')

In [3]:
X_train,X_test = utils.clean_null(X_train,X_test,0.5)
# remove brands_tags
X_train.drop(columns =['brands_tags'],inplace= True)
X_test.drop(columns =['brands_tags'],inplace= True)

Train init shape  (102028, 57)
Test  init shape  (25508, 57)
has  82.84686556631513 % null elements -> deleting .. generic_name
has  70.76684831614851 % null elements -> deleting .. quantity
has  74.81181636413532 % null elements -> deleting .. packaging
has  74.8127964872388 % null elements -> deleting .. packaging_tags
has  70.80507311718351 % null elements -> deleting .. categories
has  70.80507311718351 % null elements -> deleting .. categories_tags
has  70.80507311718351 % null elements -> deleting .. categories_en
has  93.74877484612068 % null elements -> deleting .. origins
has  93.75269533853452 % null elements -> deleting .. origins_tags
has  87.8680362253499 % null elements -> deleting .. manufacturing_places
has  87.8680362253499 % null elements -> deleting .. manufacturing_places_tags
has  82.01964166699337 % null elements -> deleting .. labels
has  81.98729760457914 % null elements -> deleting .. labels_tags
has  81.98729760457914 % null elements -> deleting .. labels_en
has  90.1693652722782 % null elements -> deleting .. emb_codes
has  90.17034539538166 % null elements -> deleting .. emb_codes_tags
has  93.4429764378406 % null elements -> deleting .. first_packaging_code_geo
has  100.0 % null elements -> deleting .. cities
has  92.93331242404047 % null elements -> deleting .. cities_tags
has  80.74842200180342 % null elements -> deleting .. purchase_places
has  82.71748931665817 % null elements -> deleting .. stores
has  87.28878347120398 % null elements -> deleting .. allergens
has  100.0 % null elements -> deleting .. allergens_en
has  90.37911161641901 % null elements -> deleting .. traces
has  90.38009173952248 % null elements -> deleting .. traces_tags
has  90.38009173952248 % null elements -> deleting .. traces_en
has  100.0 % null elements -> deleting .. no_nutriments
has  100.0 % null elements -> deleting .. ingredients_from_palm_oil
has  97.65064492100208 % null elements -> deleting .. ingredients_from_palm_oil_tags
has  100.0 % null elements -> deleting .. ingredients_that_may_be_from_palm_oil
has  95.30423021131455 % null elements -> deleting .. ingredients_that_may_be_from_palm_oil_tags
has  61.684047516368054 % null elements -> deleting .. pnns_groups_1
has  61.65856431567804 % null elements -> deleting .. pnns_groups_2
has  70.80507311718351 % null elements -> deleting .. main_category
has  70.80507311718351 % null elements -> deleting .. main_category_en
Train final shape (102028, 22)
Test  final shape (25508, 22)

In [4]:
train_numeric_desc,train_categorical_desc = utils.my_df_describe(X_train,'train',show=False)
test_numeric_desc,test_categorical_desc = utils.my_df_describe(X_test,'test')

********************train********************
shape  (102028, 21)
********************test********************
shape  (25508, 21)
**********numerics**********

,count,mean,std,min,25%,50%,75%,max,unique,nulls,nulls_perc
created_t,25508.0,1.475883e+09,3.107721e+07,1.329342e+09,1.480619e+09,1.489067e+09,1.489133e+09,1.505683e+09,23386,0,0.000000
last_modified_t,25508.0,1.485848e+09,1.674066e+07,1.341240e+09,1.489053e+09,1.489076e+09,1.489144e+09,1.505683e+09,23323,0,0.000000
additives_n,23016.0,1.895116e+00,2.480975e+00,0.000000e+00,0.000000e+00,1.000000e+00,3.000000e+00,2.700000e+01,25,2492,0.097695
ingredients_from_palm_oil_n,23016.0,2.845846e-02,1.693888e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,3,2492,0.097695
ingredients_that_may_be_from_palm_oil_n,23016.0,6.612791e-02,3.013009e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00,6,2492,0.097695

**********categorical**********

,count,unique,top,freq,nulls,nulls_perc
creator,25508,806,usda-ndb-import,13483,0,0.000000
created_datetime,25508,23386,2017-03-09T10:45:47Z,5,0,0.000000
last_modified_datetime,25508,23323,2015-08-09T17:35:52Z,4,0,0.000000
product_name,25236,22577,Ice Cream,46,272,0.010663
brands,24999,11027,Carrefour,336,509,0.019955
countries,25500,290,US,13478,8,0.000314
countries_tags,25500,173,en:united-states,13629,8,0.000314
countries_en,25500,173,United States,13629,8,0.000314
ingredients_text,23016,21999,"Semolina (wheat), durum flour (wheat), niacin,...",19,2492,0.097695
serving_size,17907,5171,28 g (1 oz),447,7601,0.297985
additives,23014,21656,[ almonds -> en:almonds ],24,2494,0.097773
additives_tags,14158,5945,"en:e322,en:e322i",764,11350,0.444958
additives_en,14158,5945,"E322 - Lecithins,E322i - Lecithin",764,11350,0.444958
states,25508,252,"en:to-be-completed, en:nutrition-facts-complet...",13332,0,0.000000
states_tags,25508,252,"en:to-be-completed,en:nutrition-facts-complete...",13332,0,0.000000
states_en,25508,252,"To be completed,Nutrition facts completed,Ingr...",13332,0,0.000000

In [5]:
total_dataset = pd.concat([X_train,X_test])

In [6]:
total_dataset['countries2'] = total_dataset['countries'].apply(utils.process_countries)
total_dataset[['countries','countries2']].head(3)

       countries countries2
Index
104815        US         US
62513         US         US
111040        US         US

In [7]:
total_dataset['additives2'] = total_dataset['additives'].apply(utils.process_aditives)
total_dataset[['additives','additives2']].head(3)

,additives,additives2
Index,,
104815,[ wheat-flour -> en:wheat-flour ] [ flour -...,"wheat-flour,flour,corn-syrup,syrup,dextrose,s..."
62513,[ select-potatoes -> en:select-potatoes ] [...,"select-potatoes,potatoes,vegetable-shortening..."
111040,[ chickpeas -> en:chickpeas ] [ water -> en...,"chickpeas,water,vegetable-oil,oil,soy,olive,s..."

In [8]:
PRETRAINED_MODEL_PATH = './../../../Models/lid.176.bin'
bnp_process_text = utils.bnp_process_text(PRETRAINED_MODEL_PATH)

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [9]:
total_dataset['brands_language'] = total_dataset['brands'].apply(bnp_process_text.get_language_fasttext)

In [10]:
total_dataset['brands_language'].value_counts()

en     79598
fr     16282
it      5798
de      5296
es      4302
       ...
bg         1
mrj        1
hy         1
vec        1
pms        1
Name: brands_language, Length: 100, dtype: int64

In [11]:
total_dataset['brands'][total_dataset['brands_language']=='fr']

Index
160769                  Auchan
114984           Le Monegasque
78892                  Lesieur
16097          Phare d'Eckmühl
86502           Creperie Colas
                  ...
40077             Ferme Collet
45715                Carrefour
89822          Le Petit Basque
92416                   Auchan
156235    Moissons de la terre
Name: brands, Length: 16282, dtype: object

In [13]:
total_dataset[['countries','brands_language']]

       countries brands_language
Index
104815        US              en
62513         US              en
111040        US              en
62964         US              de
57032         US              en
...          ...             ...
27754         US              en
31027         US              en
111633    France              en
174043    France              de
14465     Suisse             NaN

[127536 rows x 2 columns]